.mainDashContainer {
    grid-area: footer;
    grid-column: 1;
    grid-row: 1;
    width: 100;
    height: 20px;
    background-color: $color-secondary;
    display: flex;
    align-items: right;
    flex-wrap: wrap;
    }