.mainDashContainer {
    grid-area: body;
    grid-column: 1/2;
    grid-row: 1;
    width: 100px;
    height: 160px;
    background-color: $color-secondary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wra: row;
    border-bottom: 1px solid #9B9B9B;
}